.postImageWrapper{
    height: 450px;
    overflow: hidden;
}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.navba12 {
    --color1: #f0f0f3;
    --color2: #6b1b1b;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 46px;
    background: repeating-linear-gradient(
      45deg,
      var(--color1),
      var(--color1) 30px,
      var(--color2) 30px,
      var(--color2) 60px
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: 40s linear 0s infinite move;
  }
  
  @keyframes move {
    from {
      background-position: 0px;
    }
    to {
      background-position: 1000px;
    }
  }
  